.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  color: #fff;
}
.alert.alert-danger {
    margin-top:10px
}
.form-control {
  background: transparent;
  color: white !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.6 !important;
  color: white !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.6 !important;
  color: white !important; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.6 !important;
  color: white !important; /* Firefox */
}
label {
    width: 100%;
    text-align: left;
    color: white
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(255 255 255) !important;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #fff;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
.volunteer-map-section {
  overflow: hidden;
}
.volunteer-map-section iframe {
  border: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .volunteer-map-section iframe {
    width: 100%;
  }
  .card .input-section {
    margin-top: 15px;
  }
}

@media (max-width: 767.98px) {
  .volunteer-map-section iframe {
    width: 100%;
  }
  .card .input-section {
    margin-top: 15px;
  }
}

@media (max-width: 991.98px) {
  .volunteer-map-section iframe {
    width: 100%;
  }
}
.form-control.input-section.formStyle.is-invalid, .is-invalid {
    color: white;
}
@media (max-width: 1199.98px) {
  .volunteer-map-section iframe {
    width: 100%;
  }
}

@media (max-width: 1399.98px) {
  .volunteer-map-section iframe {
    width: 100%;
  }
}
