.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  color: #fff;
}
.form-control{ 
  background:transparent;
  color:white;
}
.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255 255 255) !important;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #fff;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
.volunteer-map-section {
  overflow:hidden;
}
.volunteer-map-section iframe {
  border: 0;
  width: 540px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .volunteer-map-section iframe {
    width: 400px;
  }

  .card .input-section {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .volunteer-map-section iframe {
    width: 300px;
  }
  .card .input-section {
    margin-top: 15px;
  }
}
