.heading {
  font-weight: bold;
}
.card-event-section {
  border: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 10px solid #3b5998;
  padding: 20px;
  overflow: hidden;
}

.imageSection {
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
  overflow: hidden;
}

.button-secondary {
  background-color: #55acee !important;
  color: white !important;
  border: 2px solid transparent !important;
}

.button-secondary:hover {
  background-color: white !important;
  color: #55acee !important;
  border: 2px solid #55acee !important;
}

.share-modal-header {
  background-color: #9f1718;
  color: #ffffff;
}

.share-button-close {
  color: #ffffff;
}

.share-modal-title {
  font-size: 20px;
  font-weight: 600;
}

.hrLine {
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .card-event-section {
    border-left: none;
  }

  .imageSection {
    width: 150px;
    height: 150px;
    overflow: hidden;
  }

  .event-card-section {
    margin-top: none;
  }

  .imageContainer {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
  .sub-heading {
    text-align: center;
  }

  .upcoming-event-section {
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .card-event-section {
    border-left: none;
  }
  .imageSection {
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
  .imageContainer {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
  .sub-heading {
    text-align: center;
  }
  @media only screen and (max-width: 360px) {
    .upcoming-event-section {
      text-align: center;
    }
  }
}
