.page-content > div {
  margin-top: 130px;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #f37474;
}
.navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar li {
  margin: 0 0.5rem;
}
.navbar .dropdown ul {
  left: 8px;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #9f1718;
}
.navbar .dropdown ul li:active:hover > a {
  color: #fff;
}
.form-check-input:checked {
  background-color: #9f1718;
  border-color: #9f1718;
}
.page-content > div.home-page {
  margin-top: 0px;
}

.btn-primary,
.btn-custom,
#pills-tab li button.active {
  background-color: #9f1718 !important;
  color: white !important;
  border: 2px solid transparent !important;
}
.btn {
  border: 2px solid transparent !important;
}
.btn:hover {
  background-color: white !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.btn-plain {
  background-color: #fff !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.button-secondary {
  background-color: #55acee !important;
  color: white !important;
  border: 2px solid transparent !important;
}

.btn-plain:hover {
  background-color: #9f1718 !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.btn-donation {
  background-color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.btn-donation-red {
  background-color: #9f1718 !important;
  color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.btn:focus {
  box-shadow: none !important;
}

.TransparencyCardContainer input::placeholder {
  color: rgb(159, 23, 24) !important;
}
/* Glassmorphism */

.panel {
  background: #15222b;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
}

.objective-list li::before {
  content: "";
  background-image: url(https://openmoji.org/data/color/svg/2764.svg);
  background-size: contain;
  display: inline-table;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 0.45em;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.howitworks li {
  font-size: 1.15em;
}
.howitworks li::before {
  content: "";
  background-image: url(https://openmoji.org/data/color/svg/1F449-1F3FB.svg);
  background-size: contain;
  display: inline-table;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 0.45em;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
}
.comment-card {
  background-color: #9f1717f1;
}
.comment-form {
  width: 85% !important;
  display: inline !important;
}
.formStyle{
  color:white ;
}
.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  color: black !important;
}
.search input::placeholder {
  color: black !important;
}
.search input:focus::placeholder {
  color: black !important;
}
.search input:focus {
  box-shadow: none;
  border-color: #9f1718;
}

.search .fa-search {
  position: absolute;
  top: 16px;
  left: 16px;
}
.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
}

.donation-details {
  width: 100%;
  justify-content: space-around;
  transform: translateY(100px);
}

.nav-item .getStarted:hover {
  color: #d6d4d4 !important;
}
.cmt-pic>img{
  object-fit: cover;
}
.phn{
  margin-left: 3.5rem;
}
.donation-form-heading h1 {
    color: #9f1718 !important;
    font-weight: bold !important;
    text-align: center !important;
    align-items: center !important;
    font-size: 30px !important;
    border-bottom: 2px solid #9f1718 !important;
}
/* input number arrows hide */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.social-links a:hover {
    background: #9f1718;
    color: #fff;
    text-decoration: none;
}
.swiper-button-next,.swiper-button-prev { color: #9f1718 !important; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 1325px) {
  .navbar > ul > li {
    white-space: nowrap;
    padding: 8px 5px;
  }
  @media only screen and (max-width: 1190px) {
    .navbar li {
      margin: 0 !important;
    }
  }
  #header > div {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 992px) {
  .collapsing ul > li {
    margin: 0.5rem 0 !important;
  }
  .collapse.show ul > li {
    margin: 0.5rem 0 !important;
  }
}
@media only screen and (max-width: 990px) {
  .navbar > ul > li {
    white-space: nowrap;
    padding: 8px 12px;
  }
  #header > div {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .downloadDesc p {
    font-size: 12px;
  }
  .downloadDesc h5 {
    font-size: 18px !important;
  }
  .downloadDesc h4 {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 630px) {
  .downloadApp {
    flex-direction: column !important;
  }
  .downloadApp img {
    padding: 1rem;
    height: auto !important;
  }
  .downloadDesc {
    margin-top: 1rem;
  }
  .downloadDesc h5 {
    letter-spacing: 2px;
  }
  .storeBtn {
    justify-content: center;
  }
  .downloadDesc h5,
  .downloadDesc h4,
  .downloadDesc p {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .page-content .comm,
  .donation-details {
    flex-direction: column !important;
  }
  .donation-details {
    align-items: center;
  }
  .donation-details > button {
    width: 200px;
  }
  .donation-details button:nth-child(2) {
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 576px) {
  .my-xs-2 {
    margin: 0.5rem 0;
  }
  .comm {
    margin: 0 !important;
  }
  .comm .justify-content-start {
    justify-content: center !important;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 456px) {
  .section-title h2::after,
  .section-title h2::before {
    width: 60px;
  }
}
@media only screen and (max-width: 365px) {
  .section-title p {
    font-size: 28px;
  }
  #hero h1 {
    font-size: 18px;
    line-height: 26px;
  }
  #hero h2 {
    font-size: 15px;
    line-height: 21px;
    margin: 0 5px 30px 5px;
  }
}
