.page-content > div {
  margin-top: 130px;
}
.form-check-input:checked {
  background-color: #9f1718;
  border-color: #9f1718;
}
.page-content > div.home-page {
  margin-top: 0px;
}

.btn-primary,
.btn-custom,
#pills-tab li button.active {
  background-color: #9f1718 !important;
  color: white !important;
  border: 2px solid transparent !important;
}
.btn {
  border: 2px solid transparent !important;
}
.btn:hover {
  background-color: white !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.btn-plain {
  background-color: #fff !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.button-secondary {
  background-color: #55acee !important;
  color: white !important;
  border: 2px solid transparent !important;
}

.btn-plain:hover {
  background-color: #9f1718 !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.btn-donation {
  background-color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.btn-donation-red {
  background-color: #9f1718 !important;
  color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.btn:focus {
  box-shadow: none !important;
}

.TransparencyCardContainer input::placeholder{
  color: rgb(159, 23, 24) !important;
}
/* Glassmorphism */

.panel {
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.objective-list li::before{
  content: "";
  background-image: url(https://openmoji.org/data/color/svg/2764.svg);
  background-size: contain;
  display: inline-table;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top:0.45em;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.howitworks li{
  font-size: 1.15em;
}
.howitworks li::before{ 
  content: "";
  background-image: url(https://dw-iconusers.flaticon.com/17164/17164051/1623270889030.svg?token=exp=1623271806~hmac=a700e2694d2c622005809347f8d945a8);
  background-size: contain;
  display: inline-table;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top:0.45em;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
}

/* input number arrows hide */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .downloadDesc p {
    font-size: 12px;
  }
  .downloadDesc h5 {
    font-size: 18px !important;
  }
  .downloadDesc h4 {
    font-size: 18px !important;
  }
  
}
@media (max-width: 630px) {
  .downloadApp {
    flex-direction: column !important;
  }
  .downloadApp img{
    padding: 1rem;
  }
  .downloadDesc {
    margin-top: 1rem;
  }
  .downloadDesc h5{
    letter-spacing:2px;
  }
  .downloadDesc h5,.downloadDesc h4,.downloadDesc p{
    text-align: center;
  }
}

@media (max-width:576px){
  .my-xs-2{
    margin:0.5rem 0;
  }
}

