.page-content > div {
  margin-top: 130px;
}
.form-check-input:checked {
  background-color: #9f1718;
  border-color: #9f1718;
}
.page-content > div.home-page {
  margin-top: 0px;
}

.btn-primary,
.btn-custom,
#pills-tab li button.active {
  background-color: #9f1718 !important;
  color: white !important;
  border: 2px solid transparent !important;
}
.btn {
  border: 2px solid transparent !important;
}
.btn:hover {
  background-color: white !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.btn-plain {
  background-color: #fff !important;
  color: #9f1718 !important;
  border: 2px solid #9f1718 !important;
}
.button-secondary {
  background-color: #55acee !important;
  color: white !important;
  border: 2px solid transparent !important;
}

.btn-plain:hover {
  background-color: #9f1718 !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.btn-donation {
  background-color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.btn-donation-red {
  background-color: #9f1718 !important;
  color: #fff !important;
  padding: 0.5rem;
  pointer-events: none !important;
}
.btn:focus {
  box-shadow: none !important;
}

.TransparencyCardContainer input::placeholder{
  color: rgb(159, 23, 24) !important;
}
/* Glassmorphism */

.panel {
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.objective-list li::before{
  content: "";
  background-image: url(https://openmoji.org/data/color/svg/2764.svg);
  background-size: contain;
  display: inline-table;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top:0.45em;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.howitworks li{
  font-size: 1.15em;
}
.howitworks li::before{ 
  content: "";
  background-image: url(https://openmoji.org/data/color/svg/1F449-1F3FB.svg);
  background-size: contain;
  display: inline-table;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top:0.45em;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
}
.comment-card{
  background-color: #9f1717f1;
}
.comment-form{
  width:85% !important;
  display: inline !important;
}


.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  color: black !important;
}
.search input::placeholder{
  color:black !important;
}
.search input:focus::placeholder{
  color:black !important;
}
.search input:focus {
  box-shadow: none;
  border-color: #9f1718;
}

.search .fa-search {
  position: absolute;
  top: 16px;
  left: 16px;
}
.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
}


/* input number arrows hide */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .downloadDesc p {
    font-size: 12px;
  }
  .downloadDesc h5 {
    font-size: 18px !important;
  }
  .downloadDesc h4 {
    font-size: 18px !important;
  }
  
}
@media (max-width: 630px) {
  .downloadApp {
    flex-direction: column !important;
  }
  .downloadApp img{
    padding: 1rem;
  }
  .downloadDesc {
    margin-top: 1rem;
  }
  .downloadDesc h5{
    letter-spacing:2px;
  }
  .storeBtn {
    justify-content:center;
  }
  .downloadDesc h5,.downloadDesc h4,.downloadDesc p{
    text-align: center;
  }
}

@media (max-width:576px){
  .my-xs-2{
    margin:0.5rem 0;
  }
}
@media (max-width:392){
  .page-content .comm{
    flex-direction:column !important;
  }
}

